#1
snippet serial "Basis serial for replying to an answer" b
Ques${1:serial_number} ${3:The_Question}
Reply${2:serial_number} ${4:The_reply_to_the_question}_
Ans${3:serial_number} ${5:The_response_to_the_reply}
endsnippet

#serial_no= 2
snippet dia "serialised dialog" b
#dialog_no= $1
${2:dialog}

endsnippet
